
/*========================= BODY =========================*/
body {
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.5;
}

/*========================= HEADER =========================*/
header {
    background-color:aliceblue;
    padding-bottom: 20px;
    color: rgb(63, 44, 140);
    text-align: left;
}

header h1 {
    font-size: 50px;
    margin-bottom: 40px;
}

/*========================= RECHERCHE =========================*/
#allsearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#allsearch input,
#allsearch select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #485062;
    min-width: 180px;
    outline: none;
}

#allsearch input:focus,
#allsearch select:focus {
    border-color: #092a41;
}

#allsearch button {
    background-color: rgb(63, 44, 140);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

#allsearch button:hover {
    background-color: #2f1240;
    transform: scale(1.05);
}

/*========================= BOUTONS PRINCIPAUX =========================*/
#button-principaux {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px;
    flex-wrap: wrap;
}

#button-principaux button {
    background-color: rgb(63, 44, 140);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

#button-principaux button:hover {
    background-color: #8f6be4;
    transform: scale(1.05);
}

/*========================= CONTENU =========================*/
#contenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

/*========================= TABLES =========================*/
table {
    display: flex;
    border-collapse: collapse;
    margin-bottom: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    gap: 60px;
}

table tr {

}

table tr:last-child {
    border-bottom: none;
}

table td {
    padding: 10px 15px;
    font-size: 14px;
    color: #333;
}

table th {
    background-color: #2c3e50;
    color: white;
    padding: 10px 15px;
    text-align: left;
}

/* Hover sur ligne */
table tr:hover {
    background-color: #f2f2f2;
}






/*========================= RESPONSIVE =========================*/
@media (max-width: 768px) {
    #allsearch {
        flex-direction: column;
        align-items: center;
    }

    #button-principaux {
        flex-direction: column;
        align-items: center;
    }

    #contenu {
        flex-direction: column;
        align-items: center;
    }

    table {
        width: 90%;
    }
}

