body{
  background-color: aliceblue;
  margin: 0;
}header {
  display: flex;
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;      
  padding-top: 50px;    
  font-family :Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 20px;
  padding-left: 15px;
}

input {
    width: 100px;
    margin: 0;
}
textarea {
    width: 100px;
    height: 100px;
    margin: 0;
}
#allsearch{
display: flex;

}